.product-price-container {
  display: flex;
  margin-top: 25px;
}

.product-currency {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -.015em;
  color: gray;
}

.product-price {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -.015em;
  color: dodgerblue;
  margin-left: 10px;
}
